h1.plH1 {
    display: inline;
    vertical-align: sub;
}
input.plName {
    max-width: 500px;
    font-size:2em;
}
form.plForm {
    display:inline-flex;
    margin-top:20px;
}
button.plUpdate {
    margin-left: 10px;
    height: 34px;
}
hr.separator {
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
    width: 75%;
    float:left;
}
form.trForm label, input {
    display: inline-flex;
}
input.trSearch {
    width: 200px;
    margin-left: 10px;
    margin-right: 10px;
}
div.srchCont {
    clear: both;
}
td.titleCol {
    max-width: 250px !important;
}
div.srchResults {
    width:80%
}
